<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Visor</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <div id="map"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>

  <div id="barra-lateral" class="card blue">
    <div class="card-content white-text">
      <h2>Geo Portal</h2>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width tabs-transparent">
        <li class="tab"><a class="active" href="#panel1">Predio</a></li>
        <li class="tab"><a href="#panel2">Estadísticas</a></li>
      </ul>
    </div>
    <div id="contenido-barra" class="card-content blue lighten-5">
      <div id="panel1">
        <div id="contenido-barra-lateral">
          Levantamiento de información predios.
        </div>
      </div>
      <div id="panel2">
        <div id="contenido-charts" style="display:none;">
          <div id="select-chart">
            <select onchange="graficarPie(this.value);">
              <option value="" selected="selected" disabled="disabled">Seleccione una gráfica.</option>
              <option value="odk_genero.php">Género Propietario</option>
              <option value="odk_actividad.php">Actividad Predio</option>
              <option value="odk_vegetal.php">Capa Vegetal</option>
              <option value="odk_condicion_predio.php">Condición del Predio</option>
            </select>
          </div>
          <!-- end #select-chart -->
          <div id="canvas-holder" style="width:100%">
              <canvas id="chart-area" />
          </div>
          <!-- end #canvas-holder -->
          <div id="ver-en-mapa">
            <a class="waves-effect waves-light btn" onclick="addChartDataToMap();">Ver en Mapa</a>
            <a class="waves-effect waves-light btn" onclick="removeChartOfMap();">Quitar</a>
          </div>
          <!-- end #mapa-agregar -->
        </div>
        <!-- end #contenido-charts -->
      </div>
    </div>
  </div>
  <div id="shapefile-container">
    <i class="file archive outline icon"></i>
    <input type="file" id="file" accept=".zip">
  </div>
  <div id="cargando" class="hidden"></div>
</body>

</html>
